.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('/assets/img/background.jpg') center/cover no-repeat;
  padding: 1rem;
  color: white;

  .filters {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.table-container {
  margin: 1rem;
}

.full-width {
  width: 100%;
}

.export-buttons {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  gap: 8px;
}