.cards-kpis {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.kpi-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 260px;
  color: white;

  mat-icon {
    font-size: 32px;
    margin-right: 1rem;
  }

  .kpi-text h3 {
    margin: 0;
    font-size: 1rem;
  }

  .kpi-text p {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.green { background-color: #2e7d32; }
.blue { background-color: #1565c0; }

.botao {
  margin-top: 1.5rem;
}
